.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 2rem;
	padding: 1rem;
}

input {
	margin: 1em;
	padding: 1em;
	border-radius: 8px;
}

button {
	background-color: blue;
	color: white;
	padding: 1em;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
	/* https://getcssscan.com/css-box-shadow-examples */
}

img {
	border-radius: 20px;
	padding: 1em;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
